/* styles.css */

@font-face {
    font-family: myFont;
    src: url("file:src/main/java/model/MyFont.ttf");
}

.my-text {
    -fx-font-family: myFont;
    -fx-font-size: 36px;
    -fx-fill: #007FFF;
}